
/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Encode Sans SC', sans-serif;
}

#principal{
    color:rgb(148, 100, 66);
    font-size: 35px; 
    text-align: center;
    margin-bottom: 5rem;
}

#principal-contacto{
    background-color: rgb(248, 242, 234);
    color:rgb(148, 100, 66);
    font-size: 10px; 
    text-align: center;
    padding-top: 5rem;
}

#principal-compra{
    color:rgb(148, 100, 66);
    font-size: 35px; 
    text-align: center;
    margin-bottom: 5rem;
}

header{
    color:rgb(148, 100, 66); 
    background-color: rgb(229, 207, 179);  
    font-size: 15px; 
    padding: 20px;
    top: 0px;
    display: flex;
    flex-direction: row-reverse;
    position: sticky;
}


a{text-decoration: none;
    color: rgb(94, 63, 41);
    
}

ul li{
    list-style: none;
    display: inline-block; 
    padding-left: 20px;
}

p{
    text-align: justify;
}

.h2-productos{
    margin: 50px 20px;
}

.piedepagina{
    background-color: rgb(252, 221, 182);
    text-align: right; 
    color: rgb(61, 46, 35); 
    font-size: 15px;
    padding: 20px;
}

.imagen-inicio img {
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.p-inicio{
    display: inline-block; 
    font-size: 20px;
    margin:25px 15px 25px 15px ;
    padding: 20px;
}

.redes{
    text-align: left;
}

.contacto{
    font-size: 40px;
    
}

#principal-contacto h2{
    font-size: 20px;

}

h1{
    font-size: 40px;
}
h2{
    font-size: 25px;
}

.comprar{
    font-size: 40px;
}

.datosusuario{
    background-color: rgb(180, 160, 135);
    color: rgb(39, 39, 37);
    font-size: 15px;
    display: flex;
    gap: 5rem;
    padding: 3rem;
    margin-top: 6rem;
}

.datosusuario img{
    width: 50%;
    height: 50%;
    border-radius: 2rem;
    margin: 7rem;
}

.botoncompra{
    background-color: rgb(243, 238, 225); 
    border-radius: 15px;
    padding: 10px;
}


.redes img{
width: 40px;
height: 40px;
margin-top: 5px;
}

.wsp img{
    width: 60px;
    height: 60px;
    display: block;
    margin-top: 5px; 
}

.wsp{
    position: fixed;
    bottom: 40px;
    right:30px
}

.ubicacion{
    background-color: rgba(212, 154, 120, 0.863);
    height: 350px;
    font-size: 10px;
    margin: 3rem 0rem 3rem 0rem;
}

.ubicacion iframe{
    position: relative;
}
.p-contacto{
    font-size: 15px;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

.maquina-router{
    background-color: rgb(216, 158, 104);
    margin: 20px 10px 20px 10px;
    padding: 3rem;
}

.maquina-laser{
    background-color: rgb(216, 158, 104);
    margin: 20px 10px 20px 10px;
    padding: 3rem;
}

.row p{
    text-align: center;
    font-size: 15px;
}

ul li:hover{
    border-radius: 3rem;
    border: rgb(145, 102, 67) solid;
    padding: 2rem;
 }


/*--ESTRUCTURA PRODUCTOS--*/

.bazar{
    display: grid;
    background-color: rgb(216, 185, 139);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    justify-items: center;
    align-items: center;
    font-size: 20px;
    color: rgb(114, 96, 69);
    gap: 3rem;
    padding: 5rem;
}

.bazar-productos img {
    width: 60%;
}

.deco{
    display: grid;
    background-color: rgb(153, 125, 84);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    justify-items: center;
    align-items: center;
    font-size: 20px;
    color: rgb(245, 242, 238);
    gap: 3rem;
    padding: 5rem;
}

.deco-productos img{
    width: 60%;
}

/*ESTRUCTURA CHAMBA PREMIUM*/

.premium{
    display: grid;
    background-color: rgb(216, 185, 139);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    justify-items: center;
    align-items: center;
    font-size: 20px;
    color: rgb(51, 42, 28);
    gap:5rem;
    padding: 5rem;
    }

.premium-bazar img{
    width: 60%
}

.decoprem{
    display: grid;
    background-color: rgb(153, 125, 84);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    justify-items: center;
    align-items: center;
    font-size: 20px;
    color: rgb(245, 242, 238);
    gap: 20px;
    padding: 5rem;
}

.premium-deco img{
    width: 60%
}

/*ESTRUCTURA MUEBLES*/


.h2-muebles{
    font-size: 30px;
    text-align: center;
    margin: 10px 10px;

}

.p-muebles{
font-size: 20px;
text-align: center;
text-decoration-color: rgb(73, 60, 40);
margin: 15px 15px;
}

.muebles{
    display: grid;
    background-color: rgb(216, 185, 139);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
    justify-items: center;
    align-items: center;
    font-size: 20px;
    color: rgb(65, 52, 34);
    gap: 5rem;
    padding: 5rem;
}

.muebles-premium img{
    width: 300px;
    height: 300px;
}


/*mq de celular index*/

@media screen and (max-width:800px){
   
    .bazar{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "bazar-productos";
    }

    div .bazar-productos{
        grid-area: "bazar-productos";
    }
    
    .deco{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "deco-productos";
    }
    div .deco-productos{
        grid-area: "deco-productos";
    }

    .premium{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "bazar-premium";
    }

    div .premium-bazar{
        grid-area: "bazar-premium";
    }

    .decoprem{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "deco-premium";
    }

    div .premium-deco{
        grid-area: "deco-premium";
    }

    .muebles{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "muebles-premium";
    }
    div .muebles-premium{
        grid-area: "muebles-premium";
    }
    
    ul li{
        display: flex;
        flex-direction:row-reverse;
    }
}
