
@media screen and (max-width: 800px) {
    main {
    .bazar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "bazar-productos";
    }
    .bazar-productos {
        grid-area: bazar-productos;
    }
    
    .deco {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "deco-productos";
    }
    .deco-productos {
        grid-area: deco-productos;
    }

    .premium {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "bazar-premium";
    }
    .premium-bazar {
        grid-area: bazar-premium;
    }

    .decoprem {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "deco-premium";
    }
    .premium-deco {
        grid-area: deco-premium;
    }


    .muebles {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "muebles-premium";
        }
        .muebles-premium {
        grid-area: muebles-premium;
        }
    }
}