//colores de la pagina//

$principal-color: #a89175e7; 
$secundario-color: #dbcdbce7;
$secundario-color-hover: #c9b7a0e7;
$body-color: #d3ccc4e7;

//color de textos//

$titulos-color: #553d2e;
$subtitulos-color: #694938;
$parrafos-color: #3a302b; 


//tamaños y tipos de fuentes//
$titulos-px: 38px;
$subtitulos-px: 28px;
$parrafo-px: 20px;


